shipping-sys-api/src/main/mule/implementation-shipping-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="shipping-sys-api-post" doc:id="124bd474-45e3-4ff6-9e63-afdac17b3035" >
		<logger level="INFO" doc:name="post-shipping-request" doc:id="935d8a04-38a5-4819-b9a5-7ae3d093132e" />
		<set-variable doc:name="ShipperId" doc:id="754d44ac-8627-4e92-99b7-cece578c9757" variableName="ShipperId" value="#[payload.ShipperID]"/>
		<set-variable value="#[payload.OfferID]" doc:name="OfferID" doc:id="9b2d9928-c3c7-414d-9732-21f0133c87c5" variableName="Offerid"/>
		<db:select doc:name="Select" doc:id="f1efc9b9-afd9-44cb-adb8-1212c085de6e" config-ref="Database_Config">
			<db:sql ><![CDATA[select c.PostalCode, cc.CategoryName
from offers o, Customers c, Products p, Categories cc where o.OfferID=:OfferID and o.CustomerID=c.CustomerID
and o.ProductID=p.ProductID
and p.CategoryID=cc.CategoryID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'OfferID': vars.OfferID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="95326aa4-1be5-41ef-9a8b-ddb8eccff6b8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{(payload map() -> {
	categoryName: $.CategoryName,
	postalCode: $.PostalCode,
	shipperID: vars.ShipperId
	
	}
)}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="bf1aefa4-a6da-48d6-8ce9-8a2c6f7a79c5" config-ref="HTTP_Request_configuration" url="http://20.224.50.155:8081/ship"/>
		<logger level="INFO" doc:name="Logger" doc:id="606374ae-b9c8-41a7-9c87-17d00d58ee3d" />
	</flow>
</mule>
