offer-sys-api/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="postOfferRequestFlow" doc:id="8d1180a1-541f-4f26-8f75-f6bec2bb16a5" >
		<ee:transform doc:name="Transform Message" doc:id="805a89fe-a187-462d-8ef0-a018cb8f8ccb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{ 
	CustomerID: payload.CustomerID,
	ProductID: payload.ProductID as Number,
	Quantity: payload.Quantity as Number
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="d946ac84-fcd9-42d4-8fe6-7c9da1593874" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO offers (CustomerID, ProductID, Quantity)
VALUES (:CustomerID, :ProductID, :Quantity)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'CustomerID': payload.CustomerID , 'ProductID': payload.ProductID , 'Quantity': payload.Quantity }]]]></db:input-parameters>
		</db:insert>
		<flow-ref doc:name="Flow Reference" doc:id="64697721-6582-4938-a359-de198d661734" name="returnOfferidFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="c9700981-8637-476a-839d-eb359629b5ac" />
	</flow>
	<flow name="returnOfferidFlow" doc:id="aefb0818-e305-4cee-8094-caa0e58ac148" >
		<db:select doc:name="Select" doc:id="c5ed7ae8-a17e-4f83-b62f-26e57dced20c" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT OfferID FROM offers ORDER BY OfferID DESC LIMIT 1]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="c61eb40a-68f8-4549-98db-4b9a95f73794" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postOfferProposalFlow" doc:id="b9da9ca2-bfda-498a-95fc-6e2dd64bc1af" >
		<logger level="INFO" doc:name="Logger" doc:id="91abc6ac-26e9-4246-9b19-2a202a6c67a4" message="#[payload]"/>
		<choice doc:name="StatusChoice" doc:id="9b327576-1521-4c47-9898-fad2a687953c" >
			<when expression="#[payload.TotalPrice != null]">
				<flow-ref doc:name="offerProposed" doc:id="765b8315-1044-4283-8616-d8c3cb2bdb8b" name="offerProposed"/>
			</when>
			<otherwise >
				<flow-ref doc:name="offerOutOfStock" doc:id="7da9015c-1685-4f34-9496-53bc6c1e0025" name="offerOutOfStock"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="offerProposed" doc:id="285ededa-b961-48f3-9a0e-3ed0711c752d" >

		<set-variable value="Proposed" doc:name="Proposed" doc:id="c4306a8c-7a19-4b52-bb16-f94d5d836b8f" variableName="Proposed"/>
		<ee:transform doc:name="Transform Message" doc:id="0100ae15-5d90-4872-b026-8230ca459e70" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	OfferID: payload.OfferID,
	EmployeeID: payload.EmployeeID,
	PriceDiscount: payload.PriceDiscount,
	TotalPrice: payload.TotalPrice,
	DateCreated: payload.DateCreated
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:update doc:name="Update" doc:id="e0eeebf9-8696-4141-82bb-e621c1646c2c" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE offers
SET EmployeeID = :EmployeeID, PriceDiscount = :PriceDiscount, TotalPrice = :TotalPrice, DateCreated = :DateCreated, Status = :Status
WHERE OfferID = :OfferID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'OfferID': payload.OfferID , 'EmployeeID': payload.EmployeeID, 'PriceDiscount': payload.PriceDiscount, 'TotalPrice': payload.TotalPrice, 'DateCreated': payload.DateCreated, 'Status': vars.Proposed}]]]></db:input-parameters>
		</db:update>
	
</flow>
	<flow name="offerOutOfStock" doc:id="bd7623a0-480b-4d58-b1b0-b5f57b09414b" >
		<set-variable value="Out-Of-Stock" doc:name="OutOfStock" doc:id="13e14cf9-1160-4f6b-875f-8ed99d0a0480" variableName="OutOfStock"/>
		<ee:transform doc:name="Transform Message" doc:id="611997cc-3605-4d37-bb20-611589fe33c7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	OfferID: payload.OfferID,
	EmployeeID: payload.EmployeeID
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:update doc:name="Update" doc:id="19a2e57e-edb3-47bc-970e-4d6b78344885" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE offers
SET EmployeeID = :EmployeeID, Status = :Status
WHERE OfferID = :OfferID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'OfferID': payload.OfferID , 'EmployeeID': payload.EmployeeID, 'Status': vars.OutOfStock}]]]></db:input-parameters>
		</db:update>
	</flow>
	<flow name="offerAcceptFlow" doc:id="3639c3a5-001b-4edc-8007-e04f682afd98" >
		<set-variable value="Accepted" doc:name="Accept" doc:id="2fd2a3e9-d981-4fb5-a508-41caf411de0d" variableName="Accept"/>
		<ee:transform doc:name="Transform Message" doc:id="fb05d355-e78f-4561-9f94-b13167a60184" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	OfferID: payload.OfferID,
	PaymentTransactionID: payload.PaymentTransactionID,
	DateApproved: payload.DateApproved
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:update doc:name="Update" doc:id="be234928-c1ff-4f95-9c1c-1314bb7d4f64" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE offers
SET PaymentTransactionID = :PaymentTransactionID, DateApproved = :DateApproved, Status = :Status
WHERE OfferID = :OfferID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'OfferID': payload.OfferID , 'PaymentTransactionID': payload.PaymentTransactionID, 'DateApproved': payload.DateApproved, 'Status': vars.Accept}]]]></db:input-parameters>
		</db:update>
	</flow>
</mule>
