order-sys-api/src/main/mule/Implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="GetAllOrdersFlow" doc:id="427dd55e-59e1-4ef5-9b8f-4fa1ecc3ee54" >
		<logger level="INFO" doc:name="GetOrdersFlow" doc:id="4e130993-1c38-4cf8-af88-43ebe480877b" message="GetOrdersFlow" />
		<db:select doc:name="Select" doc:id="ece60571-5afe-476f-8f2d-09eb812265a6" config-ref="Database_Config">
			<db:sql ><![CDATA[Select * From orders 
Where CustomerID = :CustomerID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'CustomerID' : attributes.queryParams.CustomerID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="6da68c99-2872-437c-a142-6e5c06f56689" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	OrderID: payload01.OrderID,
	CustomerID: payload01.CustomerID default "",
	OrderDate: payload01.OrderDate as String default "",
	RequiredDate: payload01.RequiredDate as String default "",
	ShippedDate: payload01.ShippedDate as String default "",
	ShipVia: payload01.ShipVia default 0,
	Freight: payload01.Freight default 0,
	ShipName: payload01.ShipName default "",
	ShipAddress: payload01.ShipAddress default "",
	ShipCity: payload01.ShipCity default "",
	ShipRegion: payload01.ShipRegion default "",
	ShipPostalCode: payload01.ShipPostalCode default "",
	ShipCountry: payload01.ShipCountry default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1aebfbba-d5a7-41d8-8031-3a0b7cd36c63" message="#[payload]"/>
	</flow>
	<flow name="GetOneOrderFlow" doc:id="fe39f265-a3b5-4782-b315-27d8647b28cf" >
		<logger level="INFO" doc:name="GetOrder" doc:id="e2a740fd-d8e7-4f06-80f5-b8d84e05a453" message="GetOrder"/>
		<db:select doc:name="Select" doc:id="da0cbc4c-eb2d-4990-9ce5-14d7f2bdf77c" config-ref="Database_Config" >
			<db:sql ><![CDATA[Select * From orders 
Where OrderID = :OrderID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'OrderID' : attributes.uriParams.OrderID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="c8a3f76c-0199-44b5-a4cd-d7a8026c495e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="61d64887-2a92-4342-9b9f-2353b53cc1e1" message="#[payload]"/>
	</flow>
	<flow name="PostFlow" doc:id="a0e035eb-d019-4d67-927d-8089d31584be" >
		<ee:transform doc:name="Transform Message" doc:id="31f33846-d865-4aaf-bd9b-fc8511e009e0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	RequiredDate: payload.RequiredDate,
	ShipName: payload.ShipName,
	ShippedDate: payload.ShippedDate,
	ShipCity: payload.ShipCity,
	ShipAddress: payload.ShipAdress,
	ShipPostalCode: payload.ShipPostalCode as String,
	ShipCountry: payload.ShipCountry,
	Freight: payload.Freight as String,
	OrderDate: payload.OrderDate,
	ShipRegion: payload.ShipRegion as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="ae2badd6-ca01-4e98-b65e-43b0c45a5ba0" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO Orders (OrderDate, RequiredDate, ShippedDate, Freight, ShipName, ShipAddress, ShipCity, ShipRegion, ShipPostalCode, ShipCountry)
VALUES (:OrderDate, :RequiredDate, :ShippedDate, :Freight, :ShipName, :ShipAddress, :ShipCity, :ShipRegion, :ShipPostalCode, :ShipCountry)]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
		<set-payload value="Order Placed" doc:name="Set Payload" doc:id="5e13df2b-e61e-4a4f-a572-5693aed757e5" />
		<logger level="INFO" doc:name="Logger" doc:id="bb61403e-8b6b-4a81-b3da-f3947d46f0a3" />
	</flow>
</mule>
